<template>
  <div class="outer">
    <div class="calendar-container">
      <div class="month-indication">
        <div class="month">{{today.getMonth()+1}}</div>
        <div class="word">November</div>
        <div class="year">{{today.getFullYear()}}</div>
      </div>

      <div class="calendar">
        <table>
          <thead>
            <tr>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
              <th>Sunday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="control-container">Controls</div>
  </div>
</template>

<script>
export default {
  name: 'Calendar',
  created () {
    this.getDaysPerMonth(this.today.getFullYear(), this.today.getMonth())
  },
  methods: {
    getDaysPerMonth (year, month) {
      var date = new Date(Date.UTC(year, month, 1))

      console.log(date)
    }
  },
  data () {
    return {
      today: new Date()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.outer {
  width: 80%;
}
.calendar-container {
  width: 100%;
  display: flex;
  margin-top: 50px;
  background-color: #e7ddb5;
}
.control-container {
  height: 200px;
  margin-top: 25px;
  background-color: rgba(120, 120, 109, 0.70)
}
.month-indication {
  width: 20%;
  margin: auto 0;
  text-align: center;
}
.month-indication > .month {
  font-size: 7.5em;
  font-weight: 800;
  color: dimgrey;
  line-height: 0.8em;
}
.month-indication > .word {
  font-size: 3em;
  font-weight: inherit;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
}
.month-indication > .year {
  font-size: 50px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
.calendar {
  width: 80%;
}
table {
  width: 100%;
  border-spacing: 10px;
}
th {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px;
}
td {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
}
</style>
